* {

    margin: 0;
    padding: 0;
    font-family: Vidaloka-Regular;
/*    min-height: 40px;
    min-width: 60px;*/
}

@font-face {
    font-family: Vidaloka-Regular;
    src: url(fonts/Vidaloka-Regular.ttf);
}

h1 {
    font-family: Vidaloka-Regular;
    text-align: center;
}

a {
    font-family: Vidaloka-Regular;
    text-decoration: none;
    color: black;
    
}

.home {
    font-size: 18px;
    float: left;
    position: absolute;
    top: 48px;
    left: 150px;
    background: rgba(255, 255, 255, .4);
    padding: 5px;
    border-radius: 5px;
}

.home2 {
    font-size: 13pt;
    float: left;
    position: absolute;
    top: 109px;
    left: 80px;
    background: rgba(255, 255, 255, .4);
    padding: 5px;
    border-radius: 5px;
}
.personInfo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page {
    background: url("imageBkgrd/clean2.jpg") no-repeat top left;
    background-size: 100% 100%;
    height: 600px;
    padding: 5px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.title {
    background-color: rgba(80, 129, 236, .8);
    font-family: Vidaloka-Regular;
    text-align: center;
    border-radius: 10px;
    border: solid navy 1px;
    margin: 15px;
    padding: 10px 0px;
}

.homeImg {
    height: 60px;
    width: 75px;
    margin-top: 10px;
}

.indImg {
    height: 45px;
    width: 60px;
    /*margin-top: 10px;*/
}

.myFamily {
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    width: 400px;

}
#parent1, #parent2 {
    background-color: rgba(80, 129, 236, .8);
    /*color: white;*/
    font-family: Vidaloka-Regular;
    border-radius: 10px;
    border: navy solid 1px;
    text-align: center;
    height: 75px;
    margin: 10px;
    padding: 5px;
}

#child1, #child2 {
    background-color: rgba(80, 129, 236, .8);
    /*color: white;*/
    border-radius: 10px;
    border: navy solid 1px;
    text-align: center;
    height: 75px;
    margin: 10px;
    padding: 5px;
}

img {
    background-color: black;
    float: left;
    min-height: 40px;
    min-width: 60px;
    margin-left: 20px;
}

.chores {
    background-color: rgba(80, 129, 236, .8);
    /*color: navy;*/

    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 110px;
    right: 20px;
    text-align: center;
    height: 400px;
    overflow: scroll;
    border: solid navy 1px;
}

.chores li {
    list-style-type: none;
    padding-top: 10px;
}

/*personView.php*/

.refresh {
    position: absolute;
    top: 100px;
    right: 75px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 14pt;
    background-color: rgba(43, 218, 249, .5);
    border: solid navy 1px;
}

.choreList li {
    background-color: LightSteelBlue;
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
}

.summary {
    float: right;
    font-size: 16pt;
    margin-right: 10px;
}

.summary2 {
    float: right;
    font-size: 16pt;
    margin-right: 10px;
}

.personViewChores {
    background-color: rgba(80, 129, 236, .8);
    width: 430px;
    height: 500px;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
    overflow: scroll;
    border: solid navy 1px;
    border-radius: 10px;
}

.day {
    background-color: rgba(204, 204, 204, .6);
    width: 400px;
    margin: 10px;
    padding: 5px;
}

.day table{
    width: 100%;
    text-align: center;
}

.extraChores {
    background-color: rgba(80, 129, 236, .5);
    /*color: white;*/
    border-radius: 10px;
    border: solid navy 1px;
    display: inline;
    float: right;
    padding: 5px;
    position: absolute;
    top: 150px;
    right: 15px;
    text-align: center;
    overflow: scroll;
    height: 400px;
}

.extraChores li {
    list-style-type: none;
}

.total {
    font-weight: bold;
    background-color: rgba(80, 129, 236, .8);
    width: 300px;
    height: 50px;
    margin: 10px auto;
}

.total table {
    float: right;
}

.add {
    height: 20px;
    width: 40px;
}

/* Parent page */

.manageChores {
    background-color: rgba(43, 218, 249, .5);
    position: absolute;
    border: navy solid 1px;
    top: 100px;
    right: 300px;
    height: 30px;
    width: 200px;
    font-size: 14pt;
    border-radius: 10px;

}

/* Assign page */

.createChores {
    text-align: center;
    border: solid navy 1px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(80, 129, 236, .7);
}

.create {
    /*border: solid black 2px;*/
    margin: 2px;
    text-align: center;
    border-radius: 10px;
    font-size: 13pt;
    
}
.create input {
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    height: 15px;
    font-size: 10pt;
    text-align: center;
}

.create select {
    margin-right: 10px;
    margin-top: 10px;
}

.assign { /*button*/
    height: 20px;
    width: 25px;

}

.removeChore {
    height: 20px;
}

.removeAssignedChore {
    height: 20px;
    width: 60px;
}

.assignChores {
    margin: 10px auto;
    background-color: rgba(80, 129, 236, .7);
    border-radius: 10px;
    border: solid navy 1px;
    text-align: center;
    width: 575px;
    height: 445px;
    float: left;
    margin-left: 10px;
    overflow: scroll;
}

.assignChores table {
    margin: 10px auto;
    padding: 5px;
}

.assignChores th, tr, td {
    padding: 5px;
}

table {
    border-spacing: 2px;
}

.details {
    float: right;
    height: 33px;
    width: 75px;
    font-size: 10pt;
}

.created {
    display: inline-block;
    background-color: rgba(80, 129, 236, .7);
    border: solid navy 1px;
    border-radius: 10px;
    margin: 10px;
    float: right;
    width: 375px;
    height: 445px;
    overflow: scroll;
    text-align: center;
}

.created table {
    margin: auto;
}
.created th {
    padding: 10px;
}

.newChoreAdd {
    height: 20px;
    width: 40px;
    font-size: 10pt;
}